doctype html
html(lang="ru")
    head
        title Project Draft
        link(rel='stylesheet', href='css/compiled.min.css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(rel="shortcut icon", href="http://www.placehold.it/16x16")
    body

        .container
            .row
                .col-12-md
                    p.text-center Hello Draft!

        script(src='js/compiled.min.js')